{{#each model as |presence|}}
<tr>
  <td>{{input type="checkbox" checked=presence.isPresent}}</td>
  <td>{{presence.student.fullName}}</td>
</tr>
{{else}}
<tr>
  <td colspan="2">Proszę wybierz grupę</td>
</tr>
{{/each}}
