{{#each model as |presence|}}
  <tr>
    <td>
      <label class="form-label">
        {{input type="checkbox" checked=presence.isPresent}}
        {{presence.student.fullName}}
      </label>
    </td>
  </tr>
{{else}}
  <tr>
    <td colspan="2" class="alert alert-info">Proszę wybierz grupę</td>
  </tr>
{{/each}}
