<div class="form-group">
  <label for="date">Data:</label>
  {{bootstrap-datepicker value=list.date placeholder="Click to play" class="form-control"}}
</div>
<div class="form-group">
  {{neo-select
    label="Group"
    collection=courses
    property=list.course
    valuePath="id"
    labelPath="name"
    validations="required"
    valid=courseChosen
  }}
</div>

<table class="table table-bordered js-students-list">
  <tbody>
    {{presence-list-items model=filteredStudents}}
  </tbody>
</table>
<div class="form-group">
  <button class="btn btn-primary" {{action "saveList"}}>Zapisz</button>
</div>
