<p><b>Present:</b></p>

{{#each list.presentStudents as |presence|}}
<p>{{presence.student.fullName}}</p>
{{/each}}

<hr />

<p>
  <b>Absent:</b>
  {{#each list.absentStudents as |presence|}}
  <p>{{presence.student.fullName}}</p>
  {{else}}
    <div class="alert alert-info">No absent students.</div>
  {{/each}}
</p>
