<h1>Dodawanie nowego uczestnika</h1>

<p>{{link-to 'Powrót' 'students.index' class="btn btn-default"}}</p>

{{student-form
  model=model.student
  groups=model.groups
  save=(action "createStudent")
  cancel=(action "goBack")
}}
