{{#container-header title="Add new student" filterable=false}}
	{{#link-to 'students.index' class="container-header__link"}}
	  <i class="fa fa-arrow-circle-left"></i> Go back
	{{/link-to}}
{{/container-header}}

<div class="container-content">
  {{student-form
    model=model.student
    groups=model.groups
    save=(action "createStudent")
    cancel=(action "goBack")
  }}
</div>
