<h2>Edytowanie uczestnika</h2>
<p>
	{{link-to "Powrót" "students.index" class="btn btn-default"}}
</p>
{{student-form
  model=model.student
  groups=model.groups
  save="saveChanges"
  cancel="goBack"
}}
