<form>
	{{#if errorMessage}}
	<div class="alert alert-danger">
		{{errorMessage}}
	</div>
	{{/if}}
	<div class="form-group">
		<label>Nazwa grupy:</label>
		{{input value=model.name class="form-control"}}
	</div>
	<div class="form-group">
		<button class="btn btn-primary" {{action 'saveGroup'}}>Zapisz</button>
	</div>
</form>
