{{container-header title="Overdue payments" showFilter=(action "toggleFilter")}}

<div class="container-content">
  {{payments-list/list
    model=model
    addPayment=(action "addPayment")
    deletePayment=(action "deletePayment")
    showFilter=filterVisible
  }}
</div>
