<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Nazwa grupy</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
		{{#each group in groups}}
		<tr>
			<td class="text-center"><i class="fa fa-users"></i></td>
			<td>{{group.name}}</td>
			<td>{{link-to 'Edytuj' 'groups.edit' group class='btn btn-default btn-sm'}}</td>
			<td><button class="btn btn-danger btn-sm" {{action "deleteGroup" group}}>Usuń</button></td>
		</tr>
		{{/each}}
	</tbody>
</table>
