{{input value=filter class="form-control"}}

<hr>

<table class="table table-bordered">
<thead>
	<tr>
		<th>Uczestnik</th>
		<th>Miesiąc i rok</th>
		<th colspan="2"></th>
	</tr>
</thead>
<tbody>
	{{#each payment in filteredPayments}}
		{{payments-list/item
			model=payment
			addPayment=attrs.addPayment
			deletePayment=attrs.deletePayment
			paymentAdded="paymentAdded"
		}}
	{{/each}}
</tbody>
</table>
