{{#if showFilter}}
{{input value=filter class="form-control" placeholder="Search by name"}}
<hr>
{{/if}}

<table class="table">
<thead>
	<tr>
		<th>Student</th>
		<th>Month and year</th>
		<th colspan="2">Actions</th>
	</tr>
</thead>
<tbody>
	{{#each payment in filteredPayments}}
		{{payments-list/item
			model=payment
			addPayment=attrs.addPayment
			deletePayment=attrs.deletePayment
			paymentAdded="paymentAdded"
		}}
	{{/each}}
</tbody>
</table>
