<h2>Uczestnicy</h2>

<p>
	{{link-to 'Dodaj nowego uczestnika' 'students.new' class="btn btn-primary"}}
</p>
{{students-list/list
	students=model.students
	groups=model.groups
	addPayment=(action "addPayment")
	addTermsAccepted=(action "addTermsAccepted")
	deleteStudent=(action "deleteStudent")
}}
