{{#container-header title="Students" showFilter=(action "toggleFilter")}}
	{{#link-to 'students.new' class="container-header__link"}}
	  <i class="fa fa-plus-circle"></i> Add
	{{/link-to}}
{{/container-header}}


<div class="container-content">
	{{students-list/list
		students=model.students
		groups=model.groups
		addPayment=(action "addPayment")
		addTermsAccepted=(action "addTermsAccepted")
		deleteStudent=(action "deleteStudent")
		showFilter=filterVisible
	}}
</div>
