{{#container-header title="Groups" filterable=false}}
	{{#link-to 'students.groups.new' class="container-header__link"}}
		<i class="fa fa-plus-circle"></i> Add
	{{/link-to}}
{{/container-header}}

<div class="container-content">
	{{groups-list groups=model}}
</div>
