<td>{{model.student.fullName}}</td>
<td>{{model.date}}</td>
<td><button class="btn btn-primary btn-sm" {{action "addPayment" model}}>Resolve</button></td>
<td><button class="btn btn-danger btn-sm" {{action "deletePayment" model}}>Delete</button></td>
