<td>{{model.student.fullName}}</td>
<td>{{model.date}}</td>
<td><button class="btn btn-primary" {{action "addPayment" model}}>Dodaj</button></td>
<td><button class="btn btn-danger" {{action "deletePayment" model}}>Usuń</button></td>
